PORT= 3000 
HOST_NAME= localhost 


#DB 
DB_HOST=localhost
DB_PORT=3306
DB_NAME=your_database_name
DB_USER=root
DB_PASSWORD=your_password
DB_DIALECT=mysql

# Firebase Admin SDK Config
FIREBASE_PROJECT_ID= your-project-id
FIREBASE_CLIENT_EMAIL= your-project@appspot.gserviceaccount.com
FIREBASE_PRIVATE_KEY= "-----BEGIN PRIVATE KEY-----\nYour Private Key Here\n-----END PRIVATE KEY-----"

# auth token
JWT_SECRET = your-secret-key
